{% extends 'base.html.twig' %}
{% block title post.title %}
{% block body %}
<div class="blog-single">

    <div class="blog-single__header">
        <h1 class="blog-single__title">{{ post.title }}</h1>
        <div class="blog-single__meta">
            Posté le {{ post.createdAt | date }} -
            <a href="#">{{post.category.title}}</a> -
            Par {{ post.author.username }} -

        </div>
    </div>

    <div class="blog-single__body formatted">
        {{ post.content | markdown }}
    </div>

    {# include 'partials/comments.html.twig' with {target: post} only %}#}

</div>
    <waves-shape class="waves" background="https://www.grafikart.fr/uploads/tutoriels/1/background_122.jpg" target="#page-header" position="bottom"></waves-shape>
{% endblock %}